@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --base-font-family: "Montserrat", sans-serif;
  --additional-font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: var(--base-font-family);
  color: #011928;
  font-size: 18px;
  line-height: 26px;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

nav .container {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 30px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: normal;
}

h1 {
  font-family: var(--additional-font-family);
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 68px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 52px;
    line-height: 68px;
  }
}

h2 {
  font-family: var(--additional-font-family);
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 40px;
    margin-bottom: 38px;
  }
}

h3 {
  font-size: 22px;
  font-family: var(--base-font-family);
}

@media (min-width: 768px) {
  h3 {
    font-size: 36px;
  }
}

h4 {
  font-size: 22px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 36px;
  }
}

h5,
.h5 {
  font-size: 24px;
  line-height: 48px;
  font-family: var(--base-font-family);
}

@media (min-width: 768px) {
  h5,
  .h5 {
    font-size: 32px;
  }
}

h6,
.h6 {
  font-size: 22px;
  line-height: 28px;
  font-family: var(--additional-font-family);
  font-weight: 600;
}

@media (min-width: 768px) {
  h6,
  .h6 {
    font-size: 26px;
  }
}

p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}

p + p {
  padding-top: 16px;
}

@media (min-width: 768px) {
  p {
    font-size: 20px;
    line-height: 28px;
  }
}

b,
strong {
  font-weight: bold;
  letter-spacing: 0;
  font-weight: 700;
}

picture,
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.picture-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.rounded {
  border-radius: 4px !important;
}

@media (min-width: 768px) {
  .rounded {
    border-radius: 12px !important;
  }
}

.rounded-1 {
  border-radius: 0 !important;
}

@media (min-width: 580px) {
  .rounded-1 {
    border-radius: 12px !important;
  }
}

dl,
ol,
ul {
  margin-bottom: 0;
}

/* GENERAL */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #011928;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #b28224;
  text-decoration: underline;
  text-decoration-color: #b28224 !important;
}

.link-underline-dark {
  text-decoration: underline;
}

.mt-5 {
  margin-top: 24px !important;
}

.mb-5 {
  margin-bottom: 24px !important;
}

.pb-5 {
  padding-bottom: 24px !important;
}

@media (min-width: 768px) {
  .mt-5 {
    margin-top: 32px !important;
  }

  .mb-5 {
    margin-bottom: 32px !important;
  }

  .pb-5 {
    padding-bottom: 32px !important;
  }
}

.main-nav-screen {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

section {
  padding: 23px 0;
}

@media (min-width: 768px) {
  section {
    padding: 40px 0;
  }
}

.text-bg-secondary {
  color: #011928 !important;
  background: #efedeb !important;
}

.text-bg-special {
  color: #fff !important;
  background: #c72222 !important;
}

.badge {
  border-radius: 20px !important;
  font-size: 15px !important;
  line-height: 18px !important;
  font-weight: 400 !important;
  padding: 8px 12px !important;
}

/* BUTTON */

.custom-btn,
.addittional-btn {
  font-family: var(--base-font-family);
  background: #b28224;
  border-radius: 8px;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  font-weight: bolder;
  white-space: nowrap;
  padding: 20px 26px;
  width: 100%;
  max-width: 444px;
  min-width: 260px;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .custom-btn,
  .addittional-btn {
    font-size: 30px;
  }
}

.addittional-btn {
  background: #011928;
}

@media (min-width: 768px) {
  .addittional-btn {
    max-width: 268px;
  }
}

nav .addittional-btn {
  display: none;
  background: #011928;
}

@media (min-width: 992px) {
  nav .addittional-btn {
    display: flex;
    padding: 12px;
    max-width: 180px;
    min-width: 120px;
    margin-left: 16px;
    font-weight: 600;
  }
}

.custom-btn:hover,
.addittional-btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn.custom-btn:hover,
.btn.custom-btn:focus,
.btn.custom-btn:active {
  background: #b28224;
  border-color: #b28224;
  color: #fff;
  opacity: 0.85;
}

.btn.addittional-btn:hover,
.btn.addittional-btn:focus,
.btn.addittional-btn:active {
  background: #011928;
  border-color: #011928;
  color: #fff;
  opacity: 0.9;
}

.btn.custom-btn:focus,
.btn.custom-btn:active,
.btn.addittional-btn:focus,
.btn.addittional-btn:active {
  box-shadow: none;
}

#content {
  padding-top: 0;
}

/* SECTION NAVBAR */

.navbar {
  padding: 15px;
  top: 0;
  width: 100%;
  z-index: 2;
  background: transparent;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

@media (min-width: 768px) {
  .navbar {
    padding: 15px;
  }
}

@media (min-width: 1280px) {
  .navbar {
    padding: 15px 15px 15px 30px;
  }
}

.navbar.scrolled {
  padding: 6px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

@media (min-width: 768px) {
  .navbar.scrolled {
    padding: 6px 25px 6px 25px;
  }
}

.navbar-brand img {
  max-width: 70%;
  transition: max-width 0.5s;
}

@media (min-width: 580px) {
  .navbar-brand img {
    max-width: 293px;
  }
}

.navbar.scrolled .navbar-brand img {
  max-width: 65%;
}

@media (min-width: 580px) {
  .navbar.scrolled .navbar-brand img {
    max-width: 280px;
  }
}

.navbar.scrolled .addittional-btn {
  padding: 8px;
}

.navbar .copy-wrap {
  font-size: 16px;
}

.navbar.show {
  background: #efedeb;
  padding: 0;
  height: 100vh;
  z-index: 100;
}

.navbar.show .container {
  margin-bottom: auto;
  padding: 0;
  max-width: 100%;
}

.navbar .nav-bottom {
  display: none;
}

.nav-bottom .social-icon {
  width: 50px;
  height: auto;
}

.navbar.show .nav-top {
  background: #fff;
}

.navbar.show .nav-bottom {
  display: block;
  background: #efedeb;
  padding: 16px 0;
}

.navbar.show .nav-top {
  box-shadow: 0px 2px 6px 0px #0000001a;
  padding: 0.5rem 1rem;
}

.navbar.show.scrolled .navbar-brand img {
  max-width: 70%;
}

@media (min-width: 580px) {
  .navbar.show.scrolled .navbar-brand img {
    max-width: 293px;
  }
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.nav-item .nav-link {
  font-family: var(--additional-font-family);
  display: block;
  color: #011928;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  border-bottom: 1px solid transparent;
  display: inline-block;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  border-bottom: 1px solid #011928;
  text-decoration: none;
}

.navbar .social-icon li a {
  color: #fff;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-collapse .btn.addittional-btn {
  text-transform: uppercase;
}

.navbar-collapse.show {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  background: #fff;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: #011928;
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: #011928;
  width: 20px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

.main-nav-screen {
  background-image: url(../img/img_desc/main_img.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar .btn.addittional-btn {
  font-family: var(--base-font-family);
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
}

/* SECTION WHY */

.hero-text {
  max-width: 880px;
  position: relative;
  z-index: 10;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
}

.hero-text p {
  max-width: 98%;
}

.icon-head {
  max-width: 80px;
}

@media (min-width: 480px) {
  .icon-head {
    max-width: 108px;
  }
}

.text-icon-card {
  font-family: var(--additional-font-family);
  font-weight: bold;
}

.inside-section h2 {
  z-index: 2;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  margin: 0 20px;
  display: block !important;
}

.section-why h2 {
  display: none;
}

.section-why h6 {
  font-family: var(--additional-font-family);
}

.text-part.main-screen {
  background: none;
  padding: 25px 0 0;
}

.main-screen-top.main-screen {
  background-image: url("../img/img_mob/why_we_img_mob.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 60vh;
}

@media (min-width: 768px) {
  .text-part.main-screen {
    background-image: url("../img/img_desc/why_we_img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 40px 0;
  }

  .main-screen-top.main-screen {
    background: none;
    min-height: 0;
  }

  .section-why h2 {
    position: relative;
    color: #011928;
    text-align: center;
    padding-top: 56px;
    max-width: 100%;
    display: block;
  }

  .section-why h2 span {
    display: block;
  }

  .inside-section h2 {
    display: none !important;
  }

  .section-why h2 span {
    display: inline-block;
  }
}

/* SECTION EXPERIENCE */
.section-experience .cards {
  row-gap: 20px;
}
.section-experience .card-text {
  border: 1px solid #011928;
  border-radius: 4px;
  height: 100%;
}

@media (min-width: 768px) {
  .section-experience .card-text:hover {
    background: #011928;
    color: #fff;
    transition: ease all 0.5s;
  }

  .section-experience .card-text:hover img {
    filter: invert(1);
  }
}

.section-experience .card-icon-1 {
  width: 140px;
  height: 84px;
  margin: auto;
  display: flex;
}

.section-experience .card-icon-2 {
  width: 84px;
  height: 84px;
  margin: auto;
  display: flex;
}

@media (min-width: 768px) {
  .section-experience .card-icon-1 {
    width: 200px;
    height: 120px;
  }

  .section-experience .card-icon-2 {
    width: 120px;
    height: 120px;
  }
}

.section-experience ul {
  padding-inline-start: 1.5rem;
}

/* SECTION COURSE */

.section-course .block-row {
  row-gap: 20px;
  height: 100%;
  margin: 0;
}

.section-course .main-pos-card .btn {
  max-width: 100%;
  margin: 0;
  padding: 20px 26px;
  position: relative;

  margin: auto;
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .section-course .main-pos-card .btn {
    max-width: fit-content;
  }
}

.section-course .inside-section .btn {
  display: none;
}

.section-course {
  position: relative;
}

.section-course h2 {
  display: none;
}

.section-course .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.section-course .cards h2 {
  display: block;
  z-index: 2;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  margin: 0 20px;
}

.section-course .card {
  background: #e3d4c0;
  border-radius: 12px;
  justify-content: center;
  border: none;
}

.block-row {
  background: #e3d4c0;
  padding: 20px;
}

.section-course .main-pos-card .btn {
  position: relative;
  z-index: 2;
  bottom: 0;
}

.section-course .yacht-img {
  object-fit: cover;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .section-course .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .section-course .cards h2 {
    display: none !important;
    position: relative;
    max-width: 100%;
  }

  .section-course .card {
    padding: 40px 30px;
  }

  .section-course h2 {
    display: block;
  }

  .section-course h2 {
    display: block;
  }

  .section-course .inside-pos h2 {
    display: none;
  }

  .main-pos-card .block-row {
    background: none;
  }

  .section-course h2 .block-row {
    background: none;
  }

  .section-course .block-row {
    padding: 0;
  }

  .section-course .inside-pos .btn {
    padding: 20px 26px;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0;
    display: block;
  }

  .section-course .main-pos-card .btn {
    display: none;
  }

  .card-img .row {
    row-gap: 20px;
  }

  .section-course .yacht-img {
    border-radius: 12px;
  }
}

@media (max-width: 767px) {
  .container.cards {
    max-width: 100%;
    padding: 0;
  }

  .section-course .inside-pos .btn {
    display: none;
  }
}

@media (min-width: 992px) {
  .section-course .cards {
    grid-template-columns: 2fr 1fr;
  }
}

/* SECTION CITATION */

.swiper-citation {
  margin-bottom: 40px;
}

.swiper-citation .card {
  border: 3px solid #b28224;
  background: #efedeb;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-citation .swiper-cont {
  overflow: hidden;
  max-width: 820px;
}

@media (min-width: 480px) {
  .swiper-citation .card {
    width: 320px !important;
  }
}

@media (min-width: 560px) {
  .swiper-citation .card {
    width: 440px !important;
  }
}

@media (min-width: 768px) {
  .swiper-citation .card {
    width: 520px !important;
  }
}

.icon-profile {
  width: 28px;
}

.swiper-citation {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  margin-bottom: 70px;
}

@media (min-width: 480px) {
  .swiper-citation {
    width: 50%;
  }
}

.swiper-slide {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
}

.swiper-slide-active .swiper-item {
  transition: all 0.4s ease-in-out;
}

.swiper-slide .swiper-item img {
  border-radius: 12px;
}

.swiper-slide-active:hover .swiper-item {
  transform: scale(1.08);
}

.card-img-top {
  max-width: 165px;
  width: 100%;
  border-radius: 50%;
}

.swiper-slide .card-body p {
  min-height: 200px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .swiper-slide .card-body p {
    min-height: 160px;
  }
}

@media (max-width: 480px) {
  .swiper-slide .card-body p {
    font-size: 16px;
    line-height: 24px;
  }

  .card-img-top {
    width: 100px;
  }
}

.swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-active):not(
    .swiper-slide-next
  ) {
  opacity: 0;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
}

.swiper-slide-active {
  transition: 0.3s all;
  opacity: 1;
}

.cards-profile .card {
  border: 3px solid #b28224;
  border-radius: 12px;
}

.card-title {
  font-family: var(--additional-font-family);
}

.icon-profile {
  width: 28px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  color: #b28224;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #b28224;
  border-radius: 50px;
  transform-origin: 50% 50%;
  transform: translateY(-50%);
  transition: ease all 0.5s;
  width: 40px;
  height: 40px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-button-prev:focus {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(178, 130, 36, 0.7);
  border: 2px solid transparent;
}

.swiper2-button-next,
.swiper2-button-prev {
  color: #011928;
  border: 2px solid #011928;
}

.swiper2-button-next:hover,
.swiper2-button-next:focus,
.swiper2-button-prev:hover,
.swiper2-button-prev:focus {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(1, 25, 40, 0.85);
  border: 2px solid transparent;
}

.swiper-button-prev,
.swiper-button-next {
  top: 100%;
}
.swiper-button-prev:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #b28224;
  border-left: 2px solid #b28224;
  transform: rotate(-45deg);
  margin-right: -4px;
}

.swiper-button-prev:after {
  display: none;
}

.swiper-button-prev:hover:before,
.swiper-button-prev:focus:before {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.swiper-button-next:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #b28224;
  border-left: 2px solid #b28224;
  transform: rotate(135deg);
  margin-right: 4px;
}

.swiper-button-next:hover:after,
.swiper-button-next:focus:after {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.navigation-citation {
  position: absolute;
  bottom: -65px;
  width: 120px;
  max-width: 120px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.center-card-icon {
  width: 65px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.section-gallery-slider .swiper-cont {
  overflow: hidden;
  max-width: 620px;
}

.section-gallery-slider .swiper-button-next:after {
  border-top: 2px solid #011928;
  border-left: 2px solid #011928;
}

.section-gallery-slider .swiper-button-prev:before {
  border-top: 2px solid #011928;
  border-left: 2px solid #011928;
}

.section-gallery-slider .swiper-button-prev:hover:before,
.section-gallery-slider .swiper-button-prev:focus:before {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.section-gallery-slider .swiper-button-next:hover:after,
.section-gallery-slider .swiper-button-next:focus:after {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

@media (min-width: 768px) {
  .section-gallery-slider h2::after {
    top: -8px;
    right: 0;
    width: 168px;
    height: 168px;
  }

  .section-gallery-slider .swiper-item {
    height: 394px;
  }
}

@media (min-width: 320px) {
  .section-gallery-slider .swiper-item {
    max-width: 320px !important;
  }
}

/* SECTION PRICING */

.bg-pricing {
  background: #011928;
}

.bg-pricing .row {
  row-gap: 20px;
}

.bg-pricing dt {
  min-width: fit-content;
}

.bg-pricing ul {
  padding-inline-start: 1.5rem;
}

@media (min-width: 992px) {
  .bg-pricing ul {
    max-width: 90%;
  }
}

.bg-pricing .icon-pricing {
  width: 40px;
  max-width: 40px;
}
@media (min-width: 768px) {
  .bg-pricing .icon-pricing {
    width: 85px;
    max-width: 85px;
  }
}

/* SECTION FAQs */
.fqs-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.fqs-item {
  border-radius: 12px;
  overflow: hidden;
  background: #efedeb;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.fqs-header {
  font-size: 18px;
  padding: 16px 24px 16px 28px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

@media (min-width: 768px) {
  .fqs-header {
    font-size: 24px;
  }
}

.fqs-header::after {
  top: 50%;
  right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down accordion-item-header-icon'%3E%3Cpath d='m6 9 6 6 6-6'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  content: "";
  position: absolute;
  transition: transform 0.5s;
  margin-top: -10px;
}

.fqs-header.active::after {
  transform: rotateX(180deg);
}

.fqs-item .fqs-content {
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;
  font-style: italic;
}

.fqs-item + .fqs-item {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .fqs-item + .fqs-item {
    margin-top: 14px;
  }
}

/* SECTION CONTACT FORM */
.section-contact-form .bg-form {
  background: #011928;
}

.section-contact-form .form-control,
.section-contact-form .form-control:focus,
.section-contact-form .form-control:active {
  background: #324149;
  border: 2px solid #324149;
  color: #fff;
  box-shadow: none;
}

.section-contact-form .text-font-bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .section-contact-form .form-control,
  .section-contact-form .form-control:focus,
  .section-contact-form .form-control:active {
    font-size: 20px;
  }

  .section-contact-form .text-font-bold {
    font-weight: normal;
  }
}

.section-contact-form .bg-form img {
  height: 100%;
  max-height: 368px;
  object-fit: cover;
  border-radius: 12px;
}

.section-contact-form .form-control {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  transition: border 0.25s ease-in-out;
  height: 60px;
  overflow: hidden;
}

.section-contact-form .hidden-label {
  visibility: hidden;
}

.section-contact-form .form-control::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

[placeholder]:focus::-webkit-input-placeholder {
  transform: translate(100px, 0);
  opacity: 0;
}

/* Для Google Chrome и других WebKit-браузеров */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #324149 !important;
  color: #fff !important;
  border: 2px solid #324149 !important;
  -webkit-box-shadow: 0 0 0px 1000px #324149 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Для Firefox */
input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  background-color: #324149 !important;
  color: #fff !important;
  border: 2px solid #324149 !important;
}

input:-webkit-autofill::first-line,
textarea:-webkit-autofill::first-line {
  color: #fff !important;
}

input.form-control,
textarea.form-control {
  font-family: var(--base-font-family);
  font-size: 18px;
}

@media (max-width: 767px) {
  .section-contact-form .custom-btn {
    max-width: 100%;
  }
}

.success-message {
  color: #b28224;
  font-size: 16px;
  display: none;
}

textarea.form-control {
  height: 138px !important;
}

.check-icon {
  background-image: url(../img/home/check_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  width: 49px;
  height: 48px;
  transform: rotate(0deg) scale(1);
}

.text-button {
  vertical-align: middle;
}

/* SECTION FOOTER */

@media (min-width: 768px) {
  .section-footer h2 {
    margin-bottom: 24px;
  }
}
.logo-footer {
  max-width: 268px;
  margin: auto;
}

@media (min-width: 768px) {
  .logo-footer {
    margin: 0;
  }
}

.links-map {
  list-style: none;
  padding-inline-start: 0;
  font-size: 20px;
}

.links-contact {
  list-style: none;
  padding-inline-start: 0;
  font-size: 18px;
  line-height: 27px;
}

.icon-to-social:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .links-contact {
    font-size: 20px;
    line-height: 30px;
  }
}

input:invalid {
  border-color: #b28224;
}

.invalid-feedback {
  display: none;
  color: #b28224;
}

input.is-invalid + .invalid-feedback {
  display: block;
}

.grl {
  display: none;
}

@media (max-width: 767px) {
  .grl {
    width: 100%;
    min-height: 1px;
    margin-top: 0;
    display: block;
    background-color: #343a40;
    opacity: 0.5;
  }
}

.flags-icon {
  max-width: 52px;
  height: fit-content;
  width: auto;
}

/* Back to top */
.back-to-top-btn {
  position: fixed;
  bottom: 12px;
  right: 8px;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #011928;
  padding: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-chevron-double-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  border-radius: 4px;
  z-index: 100;
  transition: transform 0.3s ease;
}

.back-to-top-btn:hover {
  opacity: 0.85;
  transform: translateY(-6px);
}

/* WIDGET REVIEW */

/* ------WIDGET TrustPolit--------- */

.tp-widget-profile-link {
  display: block;
  text-align: left;
  width: 100%;
}

@media (min-width: 992px) {
  .tp-widget-profile-link {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .widget {
    width: 100%;
  }

  .tp-widget-profile-link {
    width: 65%;
  }
}

.tp-widget-profile-link:hover,
.google-link:hover {
  color: #011928;
  text-decoration-color: #011928;
  text-decoration: none;
}

.tp-widget-logo {
  display: block;
  margin: 0 0 8px;
  width: 60%;
}

.tp-widget-stars {
  display: block;
  margin: 0 0 8px;
  width: 95%;
}

.tp-widget-stars-svg {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 18.326693227091635%;
}

.tp-widget-stars-svg svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

@media (min-width: 992px) {
  .tp-widget-stars-svg {
    width: 100%;
  }

  .tp-widget-stars-svg svg {
    width: 100%;
  }
}

.tp-stars--4--half .tp-star:nth-of-type(-n + 4) .tp-star__canvas,
.tp-stars--4--half .tp-star:nth-of-type(-n + 4) .tp-star__canvas--half {
  fill: #00b67a;
}

.tp-stars--4--half .tp-star:nth-of-type(-n + 5) .tp-star__canvas--half {
  fill: #00b67a;
}

.tp-stars .tp-star__canvas,
.tp-stars .tp-star__canvas--half {
  fill: #dcdce6;
}

.tp-stars .tp-star__shape {
  fill: #fff;
}

.tp-widget-businessinfo {
  font-size: 12px;
  line-height: 1.2;
  display: block;
  font-family: var(--additional-font-family);
}

@media (min-width: 768px) {
  .tp-widget-businessinfo {
    font-size: 11px;
  }
}

@media (min-width: 1280px) {
  .tp-widget-businessinfo {
    font-size: 13px;
  }
}

.tp-widget-businessinfo__trustscore,
.tp-widget-businessinfo__total {
  text-transform: none;
  display: inline-block;
  padding-right: 2px;
}

.tp-widget-logo-svg {
  position: relative;
  height: 30px;
  width: 100%;
  padding-bottom: 24.6031746031746%;
}

.tp-widget-logo-svg svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* ----Google review---- */

.badge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.badge-sources-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.google-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 32px;
}

.google-icon .st0 {
  fill: #3780ff;
}
.google-icon .st1 {
  fill: #38b137;
}
.google-icon .st2 {
  fill: #fa3913;
}
.google-icon .st3 {
  fill: #fcbd06;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.rating-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: rgb(17, 17, 17);
  word-break: normal;
}

.rating-bar-container {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

.star-rating {
  height: 20px;
  position: relative;
  width: 100px;
}

.star-rating:before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiM3ZjhjOGQiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==");
  background-repeat: repeat-x;
  background-size: 20px;
  bottom: 0;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.star-rating > span {
  display: block;
  text-indent: -10000px;
  width: 100px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}

.star-rating > span:before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiNmMWM0MGYiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==");
  background-repeat: repeat-x;
  background-size: 20px;
  bottom: 0;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  text-indent: 10000px;
  top: 0;
}

.badge-total-reviews {
  font-family: var(--additional-font-family);
  line-height: 1.17;
  text-align: center;
  font-size: 11px;
}

@media (min-width: 768px) {
  .badge-total-reviews {
    font-size: 11px;
  }
}

.badge-total-reviews:not(:first-child) {
  margin-top: 4px;
  white-space: nowrap;
}
